<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="favorites.css" type="text/css">
    <link rel="stylesheet" href="index.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="favorites.js"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <a class="nav" id="favorites" href="/">Search for movies</a>
        <h1 id="favorites">Favorites</h1>
        <ul id="favorites" class="group">
        </ul>
      </div>

    </main>
  </body>
</html>
