/*RESET, DEFAULTS, AND CLEARFIX*/
/*******************************/
html, body, h1, h2, h3, h4, p, div, label, form,
ul, li, button, a, section, nav, main, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  color:inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  background: transparent;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

ul {
  list-style: none;
}

body {
  background: #f3f3f3;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

div.container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  /*background: white;*/
}

h1 {
  font-size: 72px;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: block;
}

a.nav:hover {
  text-decoration: underline;
  color: blue;
}

main {

}

/***********************/
/*HEADER SECTION STYLES*/
/***********************/

section#header {
  padding-top: 100px;
  text-align: center;
}

/***********************/
/*SEARCH SECTION STYLES*/
/***********************/

section#search {
  margin-top: 100px;
  padding: 0 20px;

}

input#movie {
  font-size: 48px;
  border: 1px black solid;
  padding: 5px 10px;
  width: 500px;
  background: white;
  border-radius: 3px;
}

button#search {
  /*margin-top: 20px;*/
  position: relative;
  bottom: 5px;
  font-size: 36px;
  background: #57C241;
  color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
}

button#search:hover {
  background: #48A136;
}




/************************/
/*RESULTS SECTION STYLES*/
/************************/


section#results {
 margin-top: 20px;
}

div#results {
  display: block;
  width: 500px;
  float: left;
  padding: 0 10px 10px 20px;
}

div#details {
  margin-left: 10px;
  height: 100px;
  margin-left: 502px;
}

ul#results {

}

img.poster {
  width: 300px;
  height: auto;
}

li.movie {
  padding: 20px;
  margin-top: 10px;
  height: 80px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background: pink;
  position: relative;
}

div.info {
  float: left;
}

a.link {
  border: 1px solid black;
  background: grey;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  border-radius: 3px;
}

a.link:hover {
  cursor: pointer;
  background: #ababab;
  border: 1px solid white;
  color: white;
}

a.showDetails {
  right: 20px;
}

a.addFavorite {
  left: 20px;
}

li.active {
  background: #eeaabd;
  color: white;
}
